
<div class="hourly-forcast-container">
    <div class="Title-menu">
     <p>Hourly Forecast</p>
       <button matButton [matMenuTriggerFor]="menu">
    
        <span>Days</span>
        <mat-icon svgIcon="dropdownIcon"></mat-icon>
      </button>

      <mat-menu class="mat-menu" #menu="matMenu"  yPosition="below">
      
        <button mat-menu-item >

          <span>Saturday</span>
        </button>
        <button mat-menu-item >
          <span>Sunday</span>
        </button>
        <button mat-menu-item >   
          <span>Monday</span>
        
        </button>
        <button mat-menu-item >

          <span>Tuesday</span>
          
        </button>
        <button mat-menu-item >
          <span>Wednesday</span>
        </button>
        <button mat-menu-item >
          <span>Thursday</span>
        </button>
        
        <button mat-menu-item >

          <span>Friday</span>
          
        </button>
       
      </mat-menu>
    </div>
    <div class="items">
        <div class="item">
        <img src="assets/images/icon-overcast.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
     <div class="items">
        <div class="item">
        <img src="assets/images/icon-partly-cloudy.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
    <div class="items">
        <div class="item">
        <img src="assets/images/icon-sunny.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
     <div class="items">
        <div class="item">
        <img src="assets/images/icon-overcast.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
    <div class="items">
        <div class="item">
        <img src="assets/images/icon-snow.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
     <div class="items">
        <div class="item">
        <img src="assets/images/icon-fog.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
    <div class="items">
        <div class="item">
        <img src="assets/images/icon-snow.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
     <div class="items">
        <div class="item">
        <img src="assets/images/icon-overcast.webp" alt="Snow">
        <p>3 PM</p> 
        </div>
        <p>2°</p>
    </div>
</div>