<div>
    <h2>Additional Weather Info</h2>
    <div class="daily-forcast-container">
        <div class="forcast-item">
            <p class="day">Monday</p>
            <img src="assets/images/icon-sunny.webp" alt="Sunny">
            <div class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
        <div class="forcast-item">
            <p class="day">Tuesday</p>
            <img src="assets/images/icon-partly-cloudy.webp" alt="Partly Cloudy">
            <div class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
        <div class="forcast-item">
            <p class="day">Wednesday</p>
            <img src="assets/images/icon-overcast.webp" alt="Overcast">
             <div class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
        <div class="forcast-item">
            <p class="day">Thursday</p>
            <img src="assets/images/icon-rain.webp" alt="Rain">
          <div class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
        <div class="forcast-item">
            <p class="day">Friday</p>
            <img src="assets/images/icon-snow.webp" alt="Snow">
             <div   class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
        <div class="forcast-item">
            <p class="day">Friday</p>
            <img src="assets/images/icon-snow.webp" alt="Snow">
             <div class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
        <div class="forcast-item">
            <p class="day">Friday</p>
            <img src="assets/images/icon-snow.webp" alt="Snow">
            <div class="numbers">
            <p class="temp">25°</p>
             <p class="temp">25°</p>
            </div>
        </div>
</div>
