.search-container {
    text-align: center;
    margin-top: 50px;
    width: 60%;
    margin: 0px auto;

}
.search-container h1 {
    font-size: 70px;
    margin-bottom: 20px;
}   
.search-box {
    margin-top: 20px;  
    width: 100%;
}
.search-box input {
    padding: 10px;
    width: 40%;
    background-color: #3d3c46;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #4556d8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.search-box input :focus {

   
     border: 1px solid #ccc;
    border-radius: 10px;
}   
.search-box button:hover {
    background-color: #374bb3;
    border: 3px solid #4556d8;
    border-radius: 10px;

}
@media screen and (max-width: 768px) {
    
    .search-box
 {
        flex-direction: column;
        align-items: center;
    }
    .search-box input {
        width: 100%;
        margin-bottom: 10px;
    }
    .search-box button {
         width: 100%;
       
    }

}