<div>
    <div class="additional-weather-container">
   
        <div class="weather-info">
            <div class="info-item">
                <p class="Title-menu">Feels Like</p>
                <p class="number">60%</p>
            </div>
            <div class="info-item">
                <p class="Title-menu">Humidity</p>
                <p class="number">60%</p>
            </div>
            <div class="info-item">
                <p class="Title-menu">Wind</p>
                <p class="number">15 mph</p>
            </div>
            <div class="info-item">
                <p class="Title-menu">Precipitation</p>
                <p class="number">0 in</p>
            </div>
        </div>
</div>
