.daily-forcast-container
{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.forcast-item
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #3d3c46;
    border: 1px solid #555559;
    border-radius: 10px;
    width: 14%;
    font-size: 20px;
    margin:5px;
    padding: 5px 10px;
 
}
.forcast-item img {
    width: 70px;
  
}
.numbers
{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .daily-forcast-container {
        flex-wrap: wrap;
        justify-content: start;
    }
    .forcast-item {
        width: 25%;
        margin-bottom: 10px;
    }
}