<header>
  <div class="container header-container">
    <img src="assets/images/logo.svg" alt="Logo">

    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Offer</a></li>
    </ul>

    <div>

      <button matButton [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="setting"></mat-icon>

        <span>Units</span>
        <mat-icon svgIcon="dropdownIcon"></mat-icon>
      </button>

      <mat-menu class="mat-menu" #menu="matMenu"  yPosition="below">
        <button mat-menu-item>

          <span>Switch To Imperial</span>
        </button>

        <button mat-menu-item disabled>

          <span>Temperature</span>
        </button>
        <button mat-menu-item (click)="onSelectedTempUnit('F', $event) ">
          <span>Fahrenheit (°F)</span>
          @if (this.selectedTempValue==true&& this.selectedTempUnit=='F') {
            <mat-icon  >check</mat-icon>
          }
        </button>
        <button mat-menu-item (click)="onSelectedTempUnit('C', $event) ">   
          <span>Celsius (°C)</span>
          @if (this.selectedTempValue==true && this.selectedTempUnit=='C') {
            <mat-icon  >check</mat-icon>
          }
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item disabled>

          <span>Wind Speed</span>
          
        </button>
        <button mat-menu-item (click)="onSelectedWindUnit('Km/h', $event) ">
          <span>Km/h</span>
           @if (this.selectedWindValue==true && this.selectedWindUnit=='Km/h') {
            <mat-icon  >check</mat-icon>
          }
        </button>
        <button mat-menu-item (click)="onSelectedWindUnit('mph', $event) ">
          <span>mph</span>
           @if (this.selectedWindValue==true && this.selectedWindUnit=='mph') {
            <mat-icon  >check</mat-icon>
          }
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item disabled>

          <span>Precipitation</span>
          
        </button>
        <button mat-menu-item (click)="onSelectedPreciptaionUnit('mm', $event) ">
          <span>Millimeters (mm) </span>
           @if (this.selectedPreciptaionValue==true && this.selectedPreciptaionUnit=='mm') {
            <mat-icon  >check</mat-icon>
          }
        </button>
        <button mat-menu-item (click)="onSelectedPreciptaionUnit('in', $event) ">
          <span>Inches (in)</span>
           @if (this.selectedPreciptaionValue==true  && this.selectedPreciptaionUnit=='in') {
            <mat-icon  >check</mat-icon>
          }
        </button>
      </mat-menu>
    </div>



  </div>
</header>